@model eventy.Models.FamilyMemberViewModels.EditFamilyMemberViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>FamilyMember</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="FamilyId" class="control-label">Family Id</label>
                <input asp-for="FamilyId" class="form-control" />
                <span asp-validation-for="FamilyId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullName" class="control-label">Full Name</label>
                <input asp-for="FullName" class="form-control" />
                <span asp-validation-for="FullName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="SelectedGender">Gender</label>
                <select class="form-control" asp-for="SelectedGender">
                @foreach(var item in Model.Genders)
                {
                    @if (item.Value == Model.SelectedGender)
                    {
                        <option selected="selected">@item.Value</option>
                    }
                    else
                    {
                        <option>@item.Value</option>
                    }
                }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Birthday" class="control-label">Birthday</label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label for="IsHeadOfFamily">Is Head of Family</label>
                <select class="form-control" asp-for="IsHeadOfFamily">
                @foreach(var item in Model.HeadOfFamily)
                {
                    @if (item.Value == Model.IsHeadOfFamily)
                    {
                        <option selected="selected">@item.Value</option>
                    }
                    else
                    {
                        <option>@item.Value</option>
                    }
                }
                </select>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
