
@{
    ViewData["Title"] = "AlreadyRegistered";
}

<br />
<br />
<div class="row">
    <div class="col-md-12">
        <div role="alert" class="alert alert-danger"><span>Family already registered to event.</span></div>
    </div>
</div>

