
@{
    ViewData["Title"] = "EventFull";
}
<br />
<br />
<div class="row">
    <div class="col-md-12">
        <div role="alert" class="alert alert-danger"><span>Cannot register, event is full.</span></div>
    </div>
</div>

