
@{
    ViewData["Title"] = "RegistrationSuccess";
}

<br />
<br />
<div class="row">
    <div class="col-md-12">
        <div role="alert" class="alert alert-success"><span>Registration successful!</span></div>
    </div>
</div>

